.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 4rem;
    padding: 0 2.5rem;
}

.navbarLogo {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbarButtons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 1.5rem;
    height: 60%;
}

.username {
    text-transform: lowercase;
}

.profileButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}
